<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Tarefa</title>
  <%= stylesheet_link_tag 'index', media: 'all' %>
</head>


<body>
    <div class="container">

    <form action="<%= projeto_tarefa_path(params[:projeto_id], params[:id]) %>" method="patch" class="form-container login-form">
            <!-- Campo para descrição da tarefa -->

            <div class="form-group">
                <h1>Editar Tarefa</h1>
                <label for="descricao_tarefa" class="form-label">Descrição da Tarefa:</label><br>
                <input type="text" id="descricao_tarefa" name="descricao_tarefa" class="form-input" required placeholder= <%= @tarefa.descricao_tarefa %> >
            </div>

            <label for="etapa">Etapa:</label>
            <select name="etapa" id="etapa">
                <option value="1">Backlog</option>
                <option value="2">To do</option>
                <option value="3">Doing</option>
                <option value="4">Testing</option>
                <option value="5">Done</option>
            </select>
            
            <!-- Campo para prioridade da tarefa -->
            <div class="form-group">
                <label for="prioridade" class="form-label">Prioridade:</label><br>
                <input type="text" id="prioridade" name="prioridade" class="form-input" required placeholder= <%= @tarefa.prioridade %> >
            </div>

            <label for="user_id">Responsável:</label>
            <select name="user_id" id="user_id">
                <% @membrosUsers.each do |user| %>
                    <option value="<%= user.id %>"><%= user.nome %></option>
                <% end %>
            </select>

            
            <!-- Campo para data de vencimento da tarefa -->
            <div class="form-group">
                <label for="vencimento" class="form-label">Data de Vencimento:</label><br>
                <input type="date" id="vencimento" name="vencimento" class="form-input" required>
            </div>
            
            <!-- Botão de envio do formulário -->
            <button type="submit" class="btn btn-primary">salvar alterações</button>
        </form>
    </div>
</body>
</html>