<!-- app/views/projetos/_form.html.erb -->

<%= form_with(model: projeto, url: projetos_path) do |form| %> <!-- Utiliza a variável projeto passada para o parcial -->
  <% if projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>
      <ul>
        <% projeto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <%= form.submit "Salvar Projeto" %>
<% end %>
